body {
    height: 100vh;
    margin: 20px;
    background-color: #000;
    color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    background-image: url("./images/starbackground.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    overflow: hidden;
}

.title {
    font-family: "Orbitron", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 5px;
    width: 100%;
    letter-spacing: 2px;
    gap: 5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#gameCanvas {
    margin-top:10px;
    opacity: 95%;
    border: 1px solid #f0f0f0;
    background-color: #111;
}

.info {
    margin-top: 20px;
}

#scoreBox {
    position: absolute;
    top: 280px;
    left: 88px;
    margin-bottom: 10px;
    font-size:24px;
}

button {
    opacity: 95%;
    position: absolute;
    top: 320px;
    left: 90px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #23cf2c;
    color: #f0f0f0;
    border: none;
}

footer {
    font-size: 12px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.paragraph {
    text-align: center;
    font-size: 24px;
    margin-top: 50px;
}

.language-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #f0f0f0;
}

.buttons {
    opacity: 95%;
    display: flex;
    gap: 60px;
}

.lang-btn-pt {
    background-image: url('images/pt.png');
    background-size: 110%;
    background-position: center;
    padding: 16px 25px;
    font-size: 30px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    overflow: hidden;
}

.lang-btn-en {
    background-image: url('images/en.png');
    background-size: cover;
    padding: 16px 25px;
    font-size: 30px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    overflow: hidden;
}

.lang-btn:hover {
    background-color: #ca1600;
}
